/.bin
/.gdbinit
/build
/target
/Makefile
/kelner.img
/kelner.vmdk
/autom4te.cache
/config.log
/config.status
/configure
/bootloader/config.asm
/kernel/layout.ld
/kernel/Cargo.toml
/kernel/src/config.rs
